/bootstrap/compiled.php
/vendor
_ide_helper.php
.idea/
.sass-cache/
composer.phar
.env.*.php
.env.php
public/backend/images/
public/backend/img/
public/site/images/
public/site/img/

.DS_Store
Thumbs.db
/**/*.psd
/**/*.zip
/**/*.dat

tests/*
