.note-editor {
  border: 1px solid #bdbdbd !important; }
  .note-editor .note-toolbar .btn-group .btn-default {
    padding: 5px 10px; }

.login-info img {
  border: none; }

.dropzone .dz-default.dz-message {
  background-image: none; }

#dropzoneStyle {
  min-height: 30px !important; }

.popover {
  max-width: 800px; }
