body, html{
  /*background: url(img/bg.png);*/
  background-size: 100%;
}
.cstm-img-ab{
  position: absolute;
  opacity: 0.4;
  /*height: 100%;*/
  width: 100%;
}
.cstm-img-ab a img{
  width: 100px;
}
.country-box{
  padding: 20px;
  background: white;
  margin-top: 40px;
  box-shadow: 1px 2px 3px #333;
}
.mar-l-50{
  margin-left: 50px;
}
.contact-btn{
  margin-top: 90px;
  background: rgba(255, 255, 255, 0.9);
  padding: 23px;
}
.line{
  border: 2px solid #ef3d4a;
  box-shadow: 1px 2px 3px #333;
}